:root {
  --bs-primary: #00275b; /* Primary colour */
  --bs-primary-rgb: 0, 39, 91; 
  --bs-secondary: #ff914c; /* Secondary colour */
  --bs-secondary-rgb: 255 145, 76; 
  --text-light: #f8f9fa; /* Same color as .text-light */
}

.text-secondary-color {
  color: var(--bs-secondary);
}

@media (min-width: 925px) {
  .navbar-expand-custom {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-custom-none {
    display: none !important;
  }

  .d-custom-none {
    display: none !important;
  }

  .d-custom-flex {
    display: flex !important;
  }

  #main-content {
    margin-left: 260px;
  }
}

.sidebar {
  flex-direction: column;
  position: fixed;
  width: 260px;
  height: 100vh;
  color: var(--text-light);
  padding: 20px;
}

.sidebar hr {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: var(--bs-nav-link-padding-x);
  margin-right: var(--bs-nav-link-padding-x);
}

.sidebar .nav-link, .navbar .nav-link {
  color: var(--text-light);
}

.sidebar .nav-link:hover, .navbar .nav-link:hover {
  color: var(--bs-secondary);
}

.flag-font-size {
  font-size: 65px
}

.icon-font-size {
  font-size: 12px;
}

@media (min-width: 400px) {
  .publications_and_awards_list hr {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .publications_and_awards_list hr {
    width: 50%;
  }
}

.publications_and_awards_list li {
  font-size: 17px;
}

.publications_and_awards_list li::marker {
  color: var(--bs-secondary);
}

.publications_and_awards_list span {
  font-size: 14px;
}

.article {
  max-width: 650px;
}

@media (max-width: 576px) {
  .article {
    font-size: 17px;
  }
} 

@media (min-width: 576px) {
  .article {
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .article {
    font-size: 20px;
  }
}

#project-header-image {
  max-width: 100%; 
}
