{% extends "base.html" %}
{% block body %} 
  <div id="main-content" class="px-3">
    <section id="about" class="d-flex flex-column justify-content-center min-vh-100">
      <h1 class="fw-bold">Firstname <span class="text-secondary-color">Lastname</span></h1>
      <h4 class="text-secondary">Job title | Lorem ipsum dolor sit amet</h4>
      <p class="mt-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div>
        <button class="btn btn-dark rounded-circle mx-2">
          <i class="bi bi-github fs-3"></i>
        </button>
        <button class="btn btn-dark rounded-circle mx-2">
          <i class="bi bi-linkedin fs-3"></i>
        </button>
        <button class="btn btn-dark rounded-circle mx-2">
          <i class="bi bi-envelope fs-3"></i>
        </button>
      </div>
    </section>
    
    <section id="projects" class="d-flex flex-column justify-content-center min-vh-100">
      <h1 class="fw-bold">Projects</h1>
      <a href="my-very-exciting-project-to-display.html", class="unstyled">
        <div class="mt-5 project-link">
          <div class="float-end ms-md-5 ms-sm-3 ms-2">
            <p class="m-0 text-end text-secondary-color">
              <span class="d-block d-sm-inline">January 2024</span>
              <span class="d-block d-sm-inline text-center"> - </span>
              <span class="d-block d-sm-inline">January 2025</span>
            </p>
            <p class="m-0 text-end">New York, USA</p>
          </div>
          <h3 class="fw-bold">This is a project title</h3>
          <h5 class="text-secondary">This is the project company</h5>
          <p class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="underline"></div>
        </div>
      </a>

      <div class="mt-5">
        <div class="float-end ms-md-5 ms-sm-3 ms-2">
          <p class="m-0 text-end text-secondary-color">
            <span class="d-block d-sm-inline">January 2024</span>
            <span class="d-block d-sm-inline text-center"> - </span>
            <span class="d-block d-sm-inline">January 2025</span>
          </p>
          <p class="m-0 text-end">New York, USA</p>
        </div>
        <h3 class="fw-bold">This is a project title</h3>
        <h5 class="text-secondary">This is the project company</h5>
        <p class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="mt-5">
        <div class="float-end ms-md-5 ms-sm-3 ms-2">
          <p class="m-0 text-end text-secondary-color">
            <span class="d-block d-sm-inline">January 2024</span>
            <span class="d-block d-sm-inline text-center"> - </span>
            <span class="d-block d-sm-inline">January 2025</span>
          </p>
          <p class="m-0 text-end">New York, USA</p>
        </div>
        <h3 class="fw-bold">This is a project title</h3>
        <h5 class="text-secondary">This is the project company</h5>
        <p class="mt-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
    
    <section id="education" class="d-flex flex-column justify-content-center min-vh-100">
      <h1 class="fw-bold">Education</h1>
      <div class="mt-5">
        <div class="float-end ms-md-5 ms-sm-3 ms-2">
          <p class="m-0 text-end text-secondary-color">
            <span class="d-block d-sm-inline">January 2024</span>
            <span class="d-block d-sm-inline text-center"> - </span>
            <span class="d-block d-sm-inline">January 2025</span>
          </p>
        </div>
        <h4 class="fw-bold">Msc. Computer Science</h4>
        <h5 class="text-secondary">New York University</h5>
        <p class="text-muted">GPA: 1.3</p>
        <p class="mt-3 text-muted">Thesis topic: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="mt-5">
        <div class="float-end ms-md-5 ms-sm-3 ms-2">
          <p class="m-0 text-end text-secondary-color">
            <span class="d-block d-sm-inline">January 2024</span>
            <span class="d-block d-sm-inline text-center"> - </span>
            <span class="d-block d-sm-inline">January 2025</span>
          </p>
        </div>
        <h4 class="fw-bold">Bsc. Computer Science</h4>
        <h5 class="text-secondary">New York University</h5>
        <p class="text-muted">GPA: 1.6</p>
        <p class="mt-3 text-muted">Thesis topic: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </section>

    <section id="publications_and_awards" class="d-flex flex-column justify-content-center min-vh-100">
      <h1 class="fw-bold">Publications and Awards</h1>
      <div class="mt-5">
        <ul class="publications_and_awards_list fw-bold">
          <li>
            1st place with the topic: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            <br>
            <span class="text-muted">Lorem ipsum dolor sit amet Hackathon 2024</span>
          </li>
          <hr>
          <li>
            Poster Presentation: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            <br>
            <span class="text-muted">Lorem ipsum dolor sit amet Conference 2023</span>
          </li>
          <hr>
          <li>
            Paper Publication: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            <br>
            <span class="text-muted">Published in Nature Methodology January 2024</span>
          </li>
          <hr>
          <li>
            3rd place with the topic: "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            <br>
            <span class="text-muted">Lorem Ipsum Hackathon 2020</span>
          </li>
        </ul>
      </div>
    </section>

    <section id="skills" class="d-flex flex-column justify-content-center min-vh-100">
      <h1>Skills</h1>
      <div class="mt-5">
        <h3 class="fw-bold">Programming languages</h3>
        <div class="d-flex flex-wrap gap-3 mt-3">
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-python-plain" data-bs-toggle="tooltip" title="Python"></i>
            Python
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-c-plain" data-bs-toggle="tooltip" title="C"></i>
            C
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-rust-plain" data-bs-toggle="tooltip" title="Rust"></i>
            Rust 
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-html5-plain" data-bs-toggle="tooltip" title="HTML"></i>
            HTML
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-css3-plain" data-bs-toggle="tooltip" title="CSS"></i>
            CSS
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-javascript-plain" data-bs-toggle="tooltip" title="Javascript"></i>
            JavaScript
          </div>
        </div>
      </div>
    
      <div class="mt-5">
        <h3 class="fw-bold">Tools</h3>
        <div class="d-flex flex-wrap gap-3 mt-3">
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-fastapi-plain" data-bs-toggle="tooltip" title="Fastapi"></i>
            Fastapi
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-git-plain" data-bs-toggle="tooltip" title="Git"></i>
            Git
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-figma-plain" data-bs-toggle="tooltip" title="Figma"></i>
            Figma
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-spring-plain" data-bs-toggle="tooltip" title="Spring"></i>
            Spring
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-docker-plain" data-bs-toggle="tooltip" title="Docker"></i>
            Docker
          </div>
          <div class="d-flex flex-column align-items-center w-auto text-center icon-font-size">
            <i class="mx-3 fs-1 devicon-android-plain" data-bs-toggle="tooltip" title="Android"></i>
            Android
          </div>
        </div>
      </div>

      <div class="mt-5">
        <h3 class="fw-bold">Languages</h3>
        <div class="d-flex flex-wrap mt-2">
            <div class="d-flex flex-column ms-3 me-sm-5 me-3 align-items-center w-auto text-center">
              <span class="flag flag-font-size">&#127468;&#127463;</span>
              <span class="fw-bold">English</span><br>Native
            </div>
            <div class="d-flex flex-column mx-sm-5 mx-3 align-items-center w-auto text-center">
              <span class="flag flag-font-size">&#x1F1EB;&#x1F1F7;</span>
              <span class="fw-bold">French</span><br>Proficient
            </div>
            <div class="d-flex flex-column mx-sm-5 mx-3 align-items-center w-auto text-center">
              <span class="flag flag-font-size">&#x1F1EA;&#x1F1F8;</span>
              <span class="fw-bold">Spanish</span><br>Basic
            </div>
        </div>
      </div>
    </section>
  </div>    
{% endblock %}
